*{
margin: 0;
padding: 0;


    /* max-width: 100%; */
    /* box-sizing:border-box ; */
}
@mixin mixin{
        color: rgb(255, 255, 255);
        margin-top: 5px;
        font-family: monospace;
        font-size: 35px;
        padding: 10px;
        
}
/* .navbar-nav {
        color: white;
        font-size: 20px;
        /* display: flex; */
        /* flex-direction: row;
        justify-content: flex-end;
        line-height: 50px;
        
}
.nav-link{
        border-bottom: 3p solid white;
        transition: 0.9s; 
}      */
/* nav */
nav{

.nav-link{
        
        color: white;
        font-size: 1.250em;
        font-family: serif;
        margin-right: 1.875em;
        justify-content: flex-end;
}
.nav-item{
        /* justify-content: flex-end; */
        padding-left: 4.875em;
}
}             
article {
width: 800px;
padding: 10px;
font-size: 22px;
}
body {
background: rgb(72,80,137);
background: linear-gradient(90deg, rgba(72,80,137,1) 0%, rgba(0,0,0,0) 0%, rgba(144,189,215,1) 0%, rgba(2,6,6,0.15686968838526916) 100%);
margin: 0;
padding: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}
h1{
        display: grid;
        color: rgb(255, 255, 255);
        font-family: monospace;
        font-size: 40px;
        padding: 10px;
}
footer{       
width: 100%;
color: rgb(208, 30, 27);
font-size: 50px;
padding-top: 20px;
text-align: center;
margin-top: auto;
p{
        font-size: 20px;
        background-color: rgb(7, 7, 6);
        padding-top: 20px;
        margin-top: auto;
        width: 100%;
        color: rgb(208, 30, 27);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
}
}
// footer p{
//         font-size: 20px;
//         background-color: rgb(7, 7, 6);
//         padding-top: 20px;
//         margin-top: auto;
//         width: 100%;
//         color: rgb(208, 30, 27);
//         text-align: center;
//         font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
// }
h2{
        @include mixin()
        // color: rgb(255, 255, 255);
        // margin-top: 5px;
        // font-family: monospace;
        // font-size: 35px;
        // padding: 10px;
}
/* img{
        border: solid  rgb(172, 172, 172);
        mix-blend-mode:hard-light
} */


.parrafo{
        display: grid;
        color: $color-letra;
        font-size: 1.2cm;
        line-height: 60px;
        margin: 130px 10px 10px 10px;
        text-shadow: 10px 10px 10px rgb(54, 47, 103);
        margin-top: 190px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
        text-align: center;
        margin-top: 3rem;
        
}
.contactame{
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        font-family:monospace;

}
.g{
        background-size:100vw 100vh;
        background-attachment: fixed;
        margin: 0;


}
form{
        background-color: rgb(98, 94, 94);
        width: 450px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 20px;
        
}
input{
        width: 100%;
        margin-bottom: 30px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
}

.contenedor{
        display:flex
        }
.foto{
        height: 270px + 100px;
}
.lorem{
        float: right;
        display: block;
        color: mistyrose;
        font-size: 1cm;
        line-height: 50px;
        margin: 100px 10px 10px 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton{
        display: none;
}
@media (max-width:995px){

nav .nav-item
        {       justify-content: flex-end;
                padding-left: 0;
        
}
}
@media only screen and (max-width:650px){
        
        .contenedor{
                display: flex;
                flex-wrap: wrap;
        }
        .uno{
        width: 30%;
        height: 70%;
        }
        .dos{
        width: 70%;
        height: 70%;
        }
        .tres{
        width: 100%;
        height: 30%;
        
        }
}
@media only screen and (max-width:1344px){
        .nav-link{
        font-size: 1.2em;
        justify-content: flex-end;
        }
}
$color-letra: color rgb(15, 16, 18);
/* @media only screen and (min-width:1217px){      
        .nav-link{
                font-size: 1.2em;
                justify-content: flex-end;
        }
}
        @media only screen and (max-width:1216px){
                .nav-link{
                        font-size: 1em;
                        justify-content: flex-end;
                }
        } */
/* @media only screen and (min-width:1316px){
                .nav-link{
                        font-size: 1.1em;
                        justify-content: flex-end;
                }
        } */