* {
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  /* box-sizing:border-box ; */
}
/* .navbar-nav {
        color: white;
        font-size: 20px;
        /* display: flex; */
/* flex-direction: row;
        justify-content: flex-end;
        line-height: 50px;
        
}
.nav-link{
        border-bottom: 3p solid white;
        transition: 0.9s; 
}      */
/* nav */

/* ULTIMO NAV
nav .nav-link {
  color: white;
  font-size: 1.250em;
  font-family: 'Times New Roman';
  margin-right: 1.875em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .nav-item {
  /* justify-content: flex-end; */
  /* padding-left: 4.875em;
} */ */

/* nuevo */
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 40px;
  padding-left: 20px;
}
.navbar_style ul li a:hover {
  color: 	#fc4b08 !important;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}
.navbar-brand{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
.navbar-collapse{
  flex-grow: 0;
}
article {
  width: 800px;
  padding: 10px;
  font-size: 22px;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;

}
.habilidaddes{
  display: flex;
  background: #f1f1ef;
  width: 600px;
  justify-content: center;
}
.web{
  display: flex;
  justify-content: center;
}
.li{
  margin: 0px 5px 0px 5px;
}
.iconss{
  font-size: 30px;
  list-style-type: none;
  line-height: 60px;
}
header ul li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body {
  background: #485089;
  background: -webkit-gradient(linear, left top, right top, from(#485089), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, #90bdd7), to(rgba(2, 6, 6, 0.15687)));
  background: linear-gradient(90deg, #485089 0%, rgba(0, 0, 0, 0) 0%, #90bdd7 0%, rgba(2, 6, 6, 0.15687) 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  display: -ms-grid;
  display: grid;
  color: white;
  font-family: monospace;
  font-size: 40px;
  padding: 10px;
}

footer {
  width: 100%;
  color: #e6eef0;
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  margin-top: auto;
}

footer p {
  font-size: 15px;
  background-color: #494646;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-right: 10px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-family: 'Koulen';
  font-family: 'Varela Round', sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  margin-top: 5px;
  font-family: monospace;
  font-size: 35px;
  padding: 10px;
}

/* img{
        border: solid  rgb(172, 172, 172);
        mix-blend-mode:hard-light
} */
.parrafo {
  display: grid;
  font-size: 1.2cm;
  line-height: 60px;
  margin: 130px 10px 10px 10px;
  text-shadow: 10px 10px 10px #362f67;
  margin-top: 190px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.titulo {
  text-align: center;
  margin-top: 3rem;
}

.contactame {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

.g {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

form {
  background-color: #625e5e;
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
}

input {
  width: 100%;
  margin-bottom: 30px;
  padding: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foto {
  height: 370px;
}

.lorem {
  float: right;
  display: block;
  color: mistyrose;
  font-size: 1cm;
  line-height: 50px;
  margin: 100px 10px 10px 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parr{
  text-align: left;
}
.redes-container{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.redes-container ul li{
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container ul li a{
  display: block;
  padding: 0 10px;
  background: #333;
  color: white;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px black;
  transition: .2s;
  border-radius: 30px;
  animation: move linear 2000ms infinite;
}
  @keyframes move {
    0% {
      box-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {    
      box-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    50% {
      box-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
     box-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    100% {
      box-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    } 
}
.redes-container ul:hover a{
  filter: blur(1px);
}
.redes-container ul li a:hover{
  transform: translateY(-3px) scale(1.06);
  box-shadow: 0 5px 5px 0px black;
  filter: none;
}
.redes-container ul li .insta:hover{
  color: #e4405f;
}

.redes-container ul li .wsp:hover{
  color: rgb(87, 230, 87);
}
.redes-container ul li .linkedin:hover{
  color: #0077B5;
}
@media (max-width: 1100px) {
  nav .nav-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
  }
}
@media (max-width: 1201px) {
  nav .nav-item {
    font-size: 1.150em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
  }
}
 @media (max-width: 1301px) {
  nav .nav-item {
    font-size: 1.2em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
  }
}
@media (max-width: 650px){
  .parrafo{
    margin-top: 10px;
  }

}
@media only screen and (max-width: 650px) {
  .contenedor {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .uno {
    width: 30%;
    height: 70%;
  }
  .dos {
    width: 70%;
    height: 70%;
  }
  .tres {
    width: 100%;
    height: 30%;
  }
}
@media (max-width: 1000px){
  form{
    width: 350px;
  }
}
@media only screen and (max-width: 1344px) {
  .nav-link {
    font-size: 1.2em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width:1000px){
  header ul li:hover {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
}

/* @media only screen and (min-width:1217px){      
        .nav-link{
                font-size: 1.2em;
                justify-content: flex-end;
        }
}
        @media only screen and (max-width:1216px){
                .nav-link{
                        font-size: 1em;
                        justify-content: flex-end;
                }
        } */
/* @media only screen and (min-width:1316px){
                .nav-link{
                        font-size: 1.1em;
                        justify-content: flex-end;
                }
        } */
/*# sourceMappingURL=estilos.css.map */