/* --SELECTOR UNIVERSAL-- */
*{
  margin: 0;
  padding: 0;
}
/* ---NAV---- */
.nav-link{
  display: inline-block;
}
.navbar_style ul li a:hover {
  color: 	#fc4b08 !important;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}
.navbar-brand{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin-left: -5px;
}
.navbar-collapse{
  flex-grow: 0;
}
header ul li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.li{
  margin: 0px 5px 0px 5px;
}
/* --FONDO--- */
body {
  background: #485089;
  background: -webkit-gradient(linear, left top, right top, from(#485089), color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, #90bdd7), to(rgba(2, 6, 6, 0.15687)));
  background: linear-gradient(90deg, #485089 0%, rgba(0, 0, 0, 0) 0%, #90bdd7 0%, rgba(2, 6, 6, 0.15687) 100%);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* ---PAGINADELINDEX.HTML--- */
h1 {
  display: grid;
  color: rgb(16, 15, 15);
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  padding: 10px;
}
.pc{
  color: white;
}
.graduado{
  color: white;
}
h2 {
  color: rgb(15, 15, 15);
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 10px;
}
.parrafo {
  display: grid;
  font-size: 0.9cm;
  line-height: 60px;
  margin: 130px 10px 10px 10px;
  font-family: 'Koulen', cursive;
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Varela Round', sans-serif;
}
.foto {
  height: 370px;
  padding-left: 5px;
  mix-blend-mode: hard-light;
  border-radius: 20px 20px 20px 20px;
}
a{
  text-decoration: none;
  background: #262424;
  color: white;
  font-size: 24px;
  border-radius: 30px;
  border: 0;
  padding: 10px;
}
.span{
  margin-left: 10px;
}
.span :hover{
  color: 	#d0dc27;
}
.contenedor {
  display: flex;
}
/* ---FOOTER---- */
footer {
  width: 100%;
  color: #e6eef0;
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  margin-top: auto;
}
footer p {
  font-size: 15px;
  background-color: #494646;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-right: 10px;
  margin-top: auto;
  width: 100%;
  text-align: center;
  font-family: 'Koulen';
  font-family: 'Varela Round', sans-serif;
}
/* --PAG FORMULARIO-- */ 
form {
  background-color: #625e5e;
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.contactame{
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #000000;
  padding-top: 30px;
}
.contacto-formulario form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacto-formulario form label {
  display: block;
}
.contacto-formulario form p {
  margin: 0;
  padding: 1em;
}
.contacto-formulario form .envoar {
  grid-column: 1 / 3;
}
.contacto-formulario form button,
.contacto-formulario form input,
.contacto-formulario form textarea {
  width: 100%;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #ffffff;
}
.contacto-formulario form button {
  background: #da2121;
  border: 0;
  padding: 1em;
}
.redes-container{
  display: flex;
  margin: 10px;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.redes-container ul li{
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container ul li a{
  display: block;
  padding: 0 10px;
  background: #333;
  color: white;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0 3px 5px 0px black;
  transition: .2s;
  border-radius: 30px;
  animation: move linear 2000ms infinite;
}
  @keyframes move {
    0% {
      box-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1),
        3px -3px 0 hsla(0, 100%, 50%, 1),
        2px -2px 0 hsla(0, 100%, 50%, 1),
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1),
        -3px 3px 0 hsla(180, 100%, 50%, 1),
        -2px 2px 0 hsla(180, 100%, 50%, 1),
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {
      box-shadow:
        -4px -4px 0 hsla(180, 100%, 50%, 1),
        -3px -3px 0 hsla(180, 100%, 50%, 1),
        -2px -2px 0 hsla(180, 100%, 50%, 1),
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1),
        3px 3px 0 hsla(0, 100%, 50%, 1),
        2px 2px 0 hsla(0, 100%, 50%, 1),
        1px 1px 0 hsla(0, 100%, 50%, 1)
      ;
    }
    50% {
      box-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1),
        -3px 3px 0 hsla(0, 100%, 50%, 1),
        -2px 2px 0 hsla(0, 100%, 50%, 1),
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1),
        3px -3px 0 hsla(180, 100%, 50%, 1),
        2px -2px 0 hsla(180, 100%, 50%, 1),
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
     box-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1),
        3px 3px 0 hsla(180, 100%, 50%, 1),
        2px 2px 0 hsla(180, 100%, 50%, 1),
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1),
        -3px -3px 0 hsla(0, 100%, 50%, 1),
        -2px -2px 0 hsla(0, 100%, 50%, 1),
        -1px -1px 0 hsla(0, 100%, 50%, 1)
      ;
    }
    100% {
      box-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1),
        3px -3px 0 hsla(0, 100%, 50%, 1),
        2px -2px 0 hsla(0, 100%, 50%, 1),
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1),
        -3px 3px 0 hsla(180, 100%, 50%, 1),
        -2px 2px 0 hsla(180, 100%, 50%, 1),
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
}
.redes-container ul:hover a{
  filter: blur(1px);
}
.redes-container ul li a:hover{
  transform: translateY(-3px) scale(1.06);
  box-shadow: 0 5px 5px 0px black;
  filter: none;
}
.redes-container ul li .insta:hover{
  color: #e4405f;
}
.redes-container ul li .wsp:hover{
  color: rgb(87, 230, 87);
}
.redes-container ul li .linkedin:hover{
  color: #0077B5;
} 
/* PAGINA MISHABILIDADES,CAJAS USADA EN ESA PAG,E INDEX */
.prox{
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #1d1d19;
}
.futuro{
  display: inherit;
  align-items: center;
  justify-content: center;
}
.js{
  font-size: 80px;
  color:yellow;
}
.react{
  padding-left: 20px;
  font-size: 80px;
  color:cyan;
}
.mislenguajes{
	width: 100%;
}
.h{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.cajita{
	height: 400px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	text-align: center;
	border: #78d9f1 5px solid;
}
.caja2iconos{
	display: flex;
	justify-content: center;
}
.cajita i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
}
.tituloscajas{
  font-family: 'Montserrat', sans-serif;
	color: rgb(246, 242, 242);
	font-size: 23px;
	margin-bottom: 15px;
  padding-top: 1px;
}
.paarrafo p{
	color: rgb(247, 247, 247);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.html{
	list-style: none;
	color: #c56419;
	padding-left: 3px;
}
.css{
	list-style: none;
	color:  #0077B5;
	padding-left: 8px;
}
.bostrap{
	list-style: none;
	color: #352a84;
}
.github{
	list-style: none;
	color: #e6eef0;
}
.tengo{
  margin-top: -13px;
}
/* PAG SOBREMI Y PORQUECONTRATARME */
.lorem {
  display: block;
  color: rgb(24, 23, 23);
  font-size: 0.9cm;
  line-height: 50px;
  margin: 50px 50px;
  font-family: 'Koulen', cursive;
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Varela Round', sans-serif;
  -webkit-animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.iframessss{
  display: flex;
  justify-content: center;
}
.diviframe{
  display: flex;
}
.elonymark{
  font-size: 20px;
}
/* PAGINA CREADORA DEL EFECTO */
/* ----------------------------------------------
 * Generated by Animista on 2022-5-23 15:5:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.titulo {
  text-align: center;
  margin-top: 3rem;
}
.fondo1{
	background:#21c8f6;
}
.fondo2{
	background:#ffe300;
}
.titulosprogra{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.tarjetasprogramadores{
	display: flex;
	justify-content: center;
  align-items: center;
}
.facebot{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
  margin-top: -20px;
}
.elonmark {
  background: rgba(240, 248, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.3px);
  -webkit-backdrop-filter: blur(11.3px);
  color: #000000;
	display: flex;	
	margin: 1.5rem;
	width: 30rem;
	height: 17rem;
}
.todo {	
	padding: 2rem;
	max-width: 10rem;
	display: flex;
  flex-direction: column;
  align-items: center;
}
.todo i {
	font-size: 5rem
}
.hhh {
	padding: 30px;
  padding-top: 60px;
}
.elon{
  width: 155px;
  border: solid white 2px;
  border-radius: 1rem;
}
.mmark{
  width: 155px;
  border: solid white 2px;
  border-radius: 1rem;
}
main{
  background-image: url(../fotocodigo.jpg);
}
/* MEDIDAS PARA RESPONSIVE */
@media(max-width: 650px) {
	.h{
	display:grid;
	}
  .lorem{
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  }
  @media(max-width: 720px) {
  .cajita{
  width: 300px;
    }
  }
  @media(max-width: 1040px){
    .paarrafo p{
    font-size: 13px;
    }
    .cajita{
    width: 300px;
    }
    .tarjetasprogramadores{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:auto;
    }
    }
  @media(max-width: 760px){
    .paarrafo p{
      font-size: 17px;
    }
    .tituloscajas{
      font-size: 17px;
    }
  }
  @media(max-width: 386px){
    a{
      font-size: 20px;
    }
  }
@media(max-width: 700px) {
  form{
    font-size: 12px;
    width: 350px;
  }
  .elonymark{
    font-size: 17px;
  }
}
@media(max-width: 650px) {
  .contenedor {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .uno {
    width: 30%;
    height: 70%;
  }
  .dos {
    width: 70%;
    height: 70%;
  }
  .parrafo{
    margin-top: 40px
  }
  a{
    font-size: 20px;
  }
}
@media (max-width:1000px){
  header ul li:hover {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .diviframe{
    display: block;
  }
}
@media (max-width:450px){
  .parrafo{
    font-size: 0.7cm;
  }
  .lorem{
    font-size: 0.7cm;
  }
}
@media(max-width:600px) {
  .elonmark{
      width: auto;
margin-left: 18px;
margin-right: 18px;
  }
  .facebot{
    font-size: 20px;
  }
  .gmaps{
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media(max-width:420px){
.elonymark{
  font-size: 14px;
}
}
/*# sourceMappingURL=estilos.css.map */