*{
    margin: 0;
    padding: 0;
}
ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 0.1cm solid rgb(159, 179, 172);
        text-decoration:none;
        background-color: #5d6b6e;
        list-style: none;

                       
}
li{
        font-size: 4vh;
        font-family: Impact;
        padding: 2vh 0;
        text-transform: uppercase;
}
li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
}
.caja7{
        -webkit-transition: 0.5s linear;
        transition: 0.5s linear;
      }
      .caja7:hover{
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
      }
        

article {
    width: 800px;
    padding: 10px;
    font-size: 22px;
}
body {
    background-color:#112230;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
        display: grid;
        color: rgb(255, 255, 255);
        font-family: monospace;
        font-size: 40px;
        padding: 10px;
}
footer{
       
       width: 100%;
       color: rgb(208, 30, 27);
       font-size: 50px;
       padding-top: 20px;
       text-align: center;
       margin-top: auto;
}
footer p{
        font-size: 20px;
        background-color: rgb(7, 7, 6);
        padding-top: 20px;
        margin-top: auto;
        width: 100%;
        color: rgb(208, 30, 27);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
h2{
        color: white;
        margin-top: 5px;
        font-family: monospace;
        font-size: 35px;
        padding: 10px;
}
img{
        border: solid  rgb(172, 172, 172);
        mix-blend-mode: lighten;
        
 
}
.dos{
      background: linear-gradient(to right, rgb(141, 111, 162));
}


.parrafo{
        display: grid;
        color: mistyrose;
        font-size: 1cm;
        line-height: 50px;
        margin: 100px 10px 10px 10px;
        text-shadow: 5px 5px 5px rgb(108, 103, 146);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
        text-align: center;
        margin-top: 3rem;
        
}
.contactame{
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        font-family:monospace;

}
.g{
        background-size:100vw 100vh;
        background-attachment: fixed;
        margin: 0;


}
form{
        background-color: rgb(98, 94, 94);
        
        width: 450px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 20px;
        
}
input{
        width: 100%;
        margin-bottom: 30px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
}
button{
        background: #31384A;
        color: #fff
}
.contenedor{
        display:flex
              
}
.foto{
    height: 370px;
}
.lorem{
        float: right;
        display: block;
        color: mistyrose;
        font-size: 1cm;
        line-height: 50px;
        margin: 100px 10px 10px 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton{
        display: none;
}
@media (max-width:1200px){
        
        ul{
                flex-direction: column;
        }
        nav{
                padding:  10px 0px;
                display: block;
                width: 100%;
                height: 30%;
        }
        
}
@media only screen and (max-width:650px){
        
        .contenedor{
                display: flex;
                flex-wrap: wrap;
        }
        .uno{
                width: 30%;
                height: 70%;
        }
        .dos{
                width: 70%;
                height: 70%;
        }
        .tres{
                width: 100%;
                height: 30%;
        
        }
}

